.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	opacity: 0.7;
} 

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 575px; 
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-color;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper {
	padding-top: var(--header-h, 0px);
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	min-width: 0;
	min-height: 100vh;
}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	h2{
		@include media-breakpoint-down(md){
			font-size: rem(28);
		}
		@include media-breakpoint-up(md){
			font-size: rem(56);
		}
	}

	padding-bottom: var(--sTPB);
	& > *:last-child{
		margin-bottom: 0!important;
	}
}

.sm-yellow{
	font-weight: 600;
	font-size: rem(14);
	line-height: 1.2;
	text-transform: uppercase;

	&:after{
		content: '';
		display: block;
		width: rem(50);
		height: rem(3);
		background-color: $primary;
		margin: rem(15) 0;
	}
}


.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-100 {
	font-weight: 100;
}
.fw-200 {
	font-weight: 200;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			transform:  transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.control-wrap {
	position: relative;
}
.swiper-button-prev,
.swiper-button-next {
	box-shadow: none!important;
	outline: none!important;

	@include mt();
	width: rem(50);
	height: rem(50);
	border-radius: 50%;
	background: $white;


	border: 1px solid $gray-550;
	&:hover{
		background: $gray-550;
	}

	display: flex;
	align-items: center;
	justify-content: center;

	.icon{
		font-size: rem(24);
		color: $body-color;
	}
}
.swiper-button-prev{
	.icon{
		transform: rotate(180deg);
	}
}
.swiper-button-next{

}


.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		@include mt();
		opacity: 1;
		width: rem(18);
		height: rem(18);
		border-radius: 50%;
		background-color: transparent;
		outline: none !important;
		margin-left: rem(15);
		margin-right: rem(15);
		display: inline-flex;
		align-items: center;
		justify-content: center;

		position: relative;
		&:after{
			@include mt();
			content: '';
			display: inline-block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: $black;
		}


		border: 1px solid transparent;
		&-active,
		&:hover {
			border: 1px solid $body-color;
			&:after{
				background-color: $primary;
			}

		}
	}
}

@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }




.custom-scroll {
	scrollbar-color: var(--bs-primary)  transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary)  transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}

::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}

.swiper-wrapper{
	//@include row-sw(10px, sm, 100px);
}

//accept ratio frame
.accept-ratio-frame {
	display: block;
	width: 100%;
	height: 0;
	position: relative;

	overflow: hidden;
	&:hover {
		img {
			//filter: brightness(100%);
		}
	}

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.accept-ratio-frame-nh {
	display: block;
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;

	img {
		@include mt();
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.container{
	@include media-breakpoint-down(sm){
		padding-left: 10px;
		padding-right: 10px;
	}
}

//
.scheme-img{
	display: block;
	width: rem(90);
	height: rem(70);
	border: 1px solid $primary;

	background: $body-color;
	img{
		opacity: 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:after{
		@include mt();
		opacity: 0;
		content: '';
		position: absolute;
		width: rem(20);
		height: rem(20);
		z-index: 3;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%) scale(var(--aft-scale, 1));

		background-image: url(../img/svg/zoom-yellow.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	&:hover{
		img{
			opacity: .25;
		}
		&:after{
			opacity: 1;
		}
	}

	//&:hover{
	//	--aft-scale: 1.2;
	//}
}