:root {
  --animate-delay: 1.2s;

  --plates-shift: #{rem(156)};
  @include media-breakpoint-up(sm){
    --plates-shift: #{rem(160)};
  }


	--sPT: #{rem(40)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(30)};
  @include media-breakpoint-up(md) {
    --sPT: #{rem(80)};
    --sPB: #{rem(90)};
    --sTPB: #{rem(40)};
  }

  --bs-body-font-size: 13px;
  @media (min-width: 360px) {
    --bs-body-font-size: 14px;
  }
  @media (min-width: 380px) {
    --bs-body-font-size: #{$em-base};
  }
  @include media-breakpoint-up(lg){
    --bs-body-font-size: 13px;
  }
  @include media-breakpoint-up(xl){
    --bs-body-font-size: 14.5px;
  }
  @include media-breakpoint-up(xxl){
    --bs-body-font-size: #{$em-base};
  }

  --swiperArrowSize: #{rem(68)};
  --swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
  --swiperBorderColorDef: var(--bs-primary);
  --swiperColorDef: var(--bs-primary);
  --swiperBgDef: #ffffff;

  --swiperBorderColorDefHover: var(--bs-primary);
  --swiperColorDefHover: var(--bs-primary);
  --swiperBgDefHover: #ffffff;


  --fancybox-bg: rgba(24, 24, 27, .77);
}