@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-chevron-right {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-zoom {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
