// start .headerBlock
.headerBlock {
	background-color: $gray-800;
	position: relative;
	z-index: 1;

	&__container{
		@include media-breakpoint-down(sm){
			padding-right: 10px;
			padding-left: 10px;
		}
	}
	//??

	min-height: calc(var(--vh, 1vh)*100 - var(--header-h));
	//min-height: rem(700);
	//@include media-breakpoint-up(sm){
	//	min-height: calc(var(--vh, 1vh)*100 - var(--header-h));
	//}
	//@include media-breakpoint-up(xl){
	//	min-height: rem(910);
	//}

	--sPB: var(--plates-shift);
	--sPT: #{rem(187)};
	--sTPB: #{rem(50)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(180)};
		--sTPB: #{rem(50)};
	}
	@include media-breakpoint-up(xl){
		--sPT: #{rem(115)};
	}
	@include media-breakpoint-up(xxl){
		--sPT: #{rem(245)};
	}

	color: $white;
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $gray-900;

		img{
			opacity: .3;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	//-

	.section-title{
		max-width: rem(870);
		h1{
			font-weight: 800;
			//@include media-breakpoint-up(xl){
			//	font-size: rem(80);
			//}
			@include media-breakpoint-down(sm){
				font-size: rem(36);
				margin-bottom: rem(15);
			}
			line-height: 1.1;
			margin-bottom: rem(30);
		}
		p{
			font-size: rem(12);
			@include media-breakpoint-up(sm){
				font-size: rem(16);
			}

			font-weight: 600;
			line-height: 1.2;
			text-transform: uppercase;
			color: $white;
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-outline-primary;
		padding: rem(23.5) rem(38);
		margin-bottom: 20px;

		font-weight: bold;
		font-size: rem(16);

		text-transform: uppercase;
		line-height: 1.2;

		color: $white!important;
		&:hover{
			color: $body-color!important;
		}
	}

	//-
	&__know{
		display: block;
		width: rem(251);
		margin: 0 0 rem(49) auto;
		position: relative;
	}
	&__k-txt{
		display: block;
		position: absolute;
		z-index: 2;
		width: rem(168);
		height: auto;
		left: 0;
		bottom: 6px;

		font-weight: 600;
		font-size: rem(14);
		line-height: 1.2;
		color: $white;
	}
	&__play-img{
		display: block;
		width: 100%;
		img{
			width: 100%;
			height: auto;
		}
	}
	//-
	&__{}
	&__{}
}

// end.headerBlock

.plates{
	position: relative;
	z-index: 10;
	margin-top: calc(var(--plates-shift) * -1);

	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(30)};
	}
	&__item{
		color: $body-color!important;
		@include media-breakpoint-down(sm){
			max-width: rem(285);
			margin: 0 auto;
		}

		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__ball{
		display: block;
		overflow: hidden;
		width: rem(124);
		height: rem(124);
		@include media-breakpoint-up(sm){
			width: rem(120);
			height: rem(120);
		}
		position: relative;
		z-index: 2;
		margin: 0 auto rem(-60);

		border-radius: 50%;

		background: $gray-500;
		border: 2px solid $yellow;
		box-shadow: 0px rem(5) rem(12) rgba(0, 0, 0, 0.23);

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__box{
		flex-grow: 1;

		background: $white;
		box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.15);
		border-radius: rem(10);
		padding: rem(80) rem(20) rem(20);
		@include media-breakpoint-between(sm, xl){
			padding: rem(80) rem(12) rem(20);
		}

		display: flex;
		flex-direction: column;
	}
	&__title{
		font-weight: 600;
		font-size: rem(14);
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: rem(10);
	}
	&__projects{
		font-weight: 500;
		font-size: rem(14);
		line-height: 1.2;
		text-align: center;
		color: $gray-670;
		margin-bottom: rem(10);
	}
	&__foot-row{
		//margin-top: auto;
		--bs-gutter-x: #{rem(20)};
	}
	&__iconed-row{
		--bs-gutter-x: #{rem(5)};
	}
	&__icon{
		width: auto;
		height: auto;
		max-width: rem(24);
		max-height: rem(24);
		@include media-breakpoint-between(sm, xl){
			max-width: rem(20);
			max-height: rem(20);
		}

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__i-txt{
		font-weight: 500;
		font-size: rem(13);
		line-height: 1.2;
	}
	&__{}
	&__{}
	&__{}
}