mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.row.row
				+e.col--left.col-lg-5.d-none.d-lg-block
					+pic('sAbout-img.jpg')(class="sAbout__img")
				+e.col--right.col-lg-7
					+b.sm-yellow О компании
					+b.section-title
						h2 Строительство деревянных домов
						+pic('sAbout-img.jpg')(class="sAbout__img d-lg-none")
						p Хотите построить или купить проект дома из&#160;бруса&#160;или каркаса?
					+e.descr
						p У&nbsp;нас можно заказать строительство брусовых или каркасных коттеджей, бань, по&nbsp;типовым либо индивидуальным проектам.
						p В&nbsp;нашем каталоге есть много разных решений, которые помогут быстро сделать выбор. Наши дома во&nbsp;многом превосходят&nbsp;по эксплуатационным качествам здания из&nbsp;газобетона или кирпича.
					+e.btn(href="#") Подробее о нас
			+e.bot-row.row.flex-nowrap
				+e.b-col--left.col-auto
					+sAboutItem('5')
						| лет надежной гарантии
				+e.b-col--mid.col
					+sAboutItem('8', '')
						| лет опыта в строительстве
				+e.b-col--big.col-6
					+sAboutItem('1100')
						| Домов построено по всей России
	// end sAbout

mixin sAboutItem(number, txt)
	+e.item
		+e.i-row.row.flex-nowrap
			+e.i-col--number.col-auto=number
			+e.i-col--txt.col
				+e.i-txt.d-none.d-lg-block
					block
		+e.i-txt.d-lg-none
			block