// start .sAbout
.sAbout {
	--sPT: #{rem(83)};
	--sPB: #{rem(80)};
	--sTPB: #{rem(19)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(114)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(30)};
	}
	.container{
		//position: relative;
	}
	--row-gx: #{rem(101)};
	&__row{
		position: relative;
		--bs-gutter-x: var(--row-gx);

		--bs-gutter-y: #{rem(30)};
		@include media-breakpoint-up(lg){
			--bs-gutter-y: #{rem(0)};
		}

		margin-bottom: rem(48);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(60);
		}
		@include media-breakpoint-up(xl){
			margin-bottom: rem(100);
		}
	}
	.sm-yellow{
		&:after{
			margin: rem(19) 0 rem(18);
			@include media-breakpoint-up(sm){
				margin: rem(22) 0 rem(16);
			}
		}
	}
	//-
	&__col{
		--l-col-w: 46%;
		--r-col-w: calc(100% - var(--l-col-w));

		@include media-breakpoint-up(lg){
			display: flex;
			flex-direction: column;
		}
		&--left{
			@include media-breakpoint-up(xl){
				width: var(--l-col-w)!important;
			}
		}
		&--right{
			@include media-breakpoint-up(xl){
				width: var(--r-col-w)!important;
			}
		}
	}
	&__img{
		@extend .accept-ratio-frame;
		//min-height: 100%;

		@include media-breakpoint-down(lg){
			margin-bottom: rem(33);
			padding-top: 115%;
		}
		@include media-breakpoint-up(lg){
			position: absolute;
			z-index: 2;
			top: 0;
			left: calc(var(--row-gx)/2);
			height: 100%;
			width: calc(var(--l-col-w) - var(--row-gx));

			//padding-top: calc(570/500 * 100%);
			//margin-bottom: 0;
		}
	}
	.section-title{
		h2{
			margin-bottom: rem(35);
			@include media-breakpoint-up(lg){
				margin-bottom: rem(30);
			}
		}
		p{
			font-weight: 500;
			line-height: 1.5;

			padding-left: 4px;
			@include media-breakpoint-up(sm){
				padding-left: 0;
			}

			font-size: rem(18);
			@include media-breakpoint-up(lg){
				font-size: rem(22);
			}
		}
	}
	&__descr{
		margin-bottom: rem(28);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(45);
		}

		& > *:last-child{
			margin-bottom: 0;
		}
		p{
			font-size: rem(15.7);
			line-height: 1.75;

			margin-bottom: rem(27);
			@include media-breakpoint-up(lg){
				margin-bottom: 0;
			}
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		margin-top: auto;
		align-self: flex-start;

		padding: rem(21) rem(40);
		@include media-breakpoint-up(lg){
			padding: rem(25) rem(66);
		}
		line-height: 1.2;
		text-transform: uppercase;
	}

	&__bot-row{
		--bs-gutter-x: #{rem(27)};
		@include media-breakpoint-up(sm){
			--bs-gutter-x: #{rem(40)};
		}
		@include media-breakpoint-up(lg){
			--bs-gutter-x: #{rem(60)};
		}
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(93)};
		}
	}
	&__b-col{
		&--left{
			width: 30.5% !important;
			@include media-breakpoint-up(md){
				width: 25.5% !important;
			}
			@include media-breakpoint-up(xl){
				padding-left: calc(var(--bs-gutter-x)/2 - 5px);
			}
		}
		&--mid{

		}
		&--big{
			width: 39.2%!important;
			@include media-breakpoint-up(md){
				width: 46.2% !important;
			}
		}
	}
	&__item{

	}
	&__i-row{
		--bs-gutter-x: 1px;
		@include media-breakpoint-up(sm){
			--bs-gutter-x: #{rem(10)};
		}
	}
	&__i-col{
		&--number{
			font-size: rem(50);
			@include media-breakpoint-up(md){
				font-size: rem(70);
			}
			@include media-breakpoint-up(lg){
				font-size: rem(150);
			}
			line-height: 1.2;
			text-transform: uppercase;
		}
		&--txt{
			&:before{
				display: block;
				font-weight: 400;
				content: '+';

				margin: rem(2) 0 rem(8);
				font-size: rem(30);
				@include media-breakpoint-up(md){
					margin: rem(8) 0 rem(8);
					font-size: rem(40);
				}
				@include media-breakpoint-up(lg){
					font-size: rem(80);
				}
				line-height: 1.2;
				text-transform: uppercase;
				color: $primary;

				@include media-breakpoint-up(xl){
					position: relative;
					left: -5px;
				}
			}

		}
	}

	//-
	&__i-txt{
		font-size: rem(10);
		@include media-breakpoint-up(sm){
			font-size: rem(12);
		}
		@include media-breakpoint-up(md){
			font-size: rem(14);
		}
		@include media-breakpoint-up(lg){
			font-size: rem(15);
		}
		@include media-breakpoint-up(xl){
			font-size: rem(16);
		}
		font-weight: 600;
		line-height: 1.3;
		text-transform: uppercase;
	}
	&__{}
	&__{}
} // end.sAbout