extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sTEst00/_sTEst00.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent 
	+mob-mnu()
	+icon("telegram")
	+header()
	+top-nav()
	+input("dadasdsa")
	<div class="container">
		<div class="grid">
			<div class="g-col">
				| Column
			</div>
			<div class="g-col">
				| Column
			</div>
			<div class="g-col">
				| Column
			</div>
		</div>
	</div>
	.bg-success.p-5 
	a.btn.btn-success asdasd
	+topLine()
	+headerBlock()
	+sForm()
	+sContact()
	+footer()
      



