// start .sCatalog
.sCatalog {
	--sTPB: #{rem(0)};

	--sPT: #{rem(81)};
	--sPB: #{rem(51)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(123px)};
		--sPB: #{rem(117)};
	}

	--s-catalog-bg: #{$gray-100};
	background: var(--s-catalog-bg);
	.sm-yellow{
		display: block;
		color: $body-color;
		&--title{
			&:after{
				margin: rem(19) 0 rem(18);
				@include media-breakpoint-up(sm){
					margin: rem(22) 0 rem(16);
				}
			}
		}
		&--slide{
			font-weight: 800;
			font-size: rem(18);
			line-height: 1.2;
			text-transform: none;

			&:after{
				width: rem(30);

				margin: rem(19) 0 rem(18);
				@include media-breakpoint-up(sm){
					margin: rem(17) 0 rem(20);
				}
			}
		}
	}
	&__top-row{
		margin-bottom: rem(84);
		@include media-breakpoint-up(sm){
			margin-bottom: rem(50);
		}
		--bs-gutter-y: #{rem(30)};
	}
	.section-title{
		h2{

		}
	}
	//--btn-px
	--btn-px: #{rem(20)};
	@include media-breakpoint-up(sm){
		--btn-px: #{rem(27)};
	}
	&__btns-row{
		--bs-gutter-x: #{rem(20)};
		@include media-breakpoint-up(sm){
			--bs-gutter-x: #{rem(20)};
		}
		@include media-breakpoint-up(lg){
			--bs-gutter-x: #{rem(30)};
		}
		@include media-breakpoint-up(xl){
			position: relative;
			top: 5px;

			--bs-gutter-x: #{rem(47)};
		}
		margin-right: calc(var(--bs-gutter-x)/-2 - var(--btn-px));
	}
	&__tabs-btn{
		cursor: pointer;
		padding: rem(18) var(--btn-px);
		@include media-breakpoint-up(sm){
			padding: rem(20) var(--btn-px);
		}
		&:not(.active){
			@include media-breakpoint-down(sm){
				padding: 0!important;
			}
		}

		font-weight: 600;
		font-size: rem(12);
		@include media-breakpoint-up(sm){
			font-size: rem(16);
		}

		line-height: 1.2;
		text-transform: uppercase;

		background-color: transparent;
		color: $body-color;
		&.active, &:hover{
			background: $body-color;
			color: $primary;
		}
	}
	//-
	--mr-l-col-w: 31.4%;
	--mr-r-col-w: calc(100% - var(--mr-l-col-w));
	--mr-bs-x: #{rem(67)};
	&__main-row{
		--bs-gutter-x: var(--mr-bs-x, #{rem(60)});

		margin-bottom: rem(16);
		@include media-breakpoint-up(sm){
			margin-bottom: rem(30);
		}
	}
	&__col{
		&--left{
			position: relative;
			z-index: 2;
			&:before{
				content: '';
				display: block;
				position: absolute;
				z-index: -1;
				width: 100vw;
				height: 100%;
				right: rem(45);
				top: 0;
				background: var(--s-catalog-bg);
				//background: red;
			}

			@include media-breakpoint-up(lg){
				width: var(--mr-l-col-w) !important;
			}
		}

		//-
		&--right{
			position: relative;
			z-index: 1;
			@include media-breakpoint-up(lg){
				width: var(--mr-r-col-w) !important;
			}
		}
	}
	&__descr{
		margin-bottom: rem(50);
		& > *:last-child{
			margin-bottom: 0;
		}

		p{
			font-size: rem(15.8);
			line-height: 1.75;

			margin-bottom: rem(27);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-outline-primary;
		padding: rem(26) rem(52);
		color: $body-color;

		text-transform: uppercase;
	}
	//tabs__content
	&__slider-wrap{
		.swiper{
			overflow: visible!important;
		}
		.swiper-wrapper{
			margin-bottom: rem(20);
			@include media-breakpoint-up(sm){
				margin-bottom: 0;
			}
		}
		.swiper-slide{
			&.swiper-slide-prev{
				@include mt();
				@include media-breakpoint-up(lg){
					opacity: 0;
				}
			}
			width: 100%;
			height: auto;

			display: flex;
			flex-direction: column;
		}
	}
	&__slide{
		min-height: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	//-
	--s-col-left-w: 50%;
	--s-col-right-w: calc(100% - var(--s-col-left-w));
	&__slide-row{
		flex-grow: 1;
		--bs-gutter-x: 0px;
	}
	&__s-col{
		display: flex;
		flex-direction: column;

		&--left{
			position: relative;

			@include media-breakpoint-up(xl){
				width: var(--s-col-left-w) !important;
			}
		}
		&--right{
			background-color: $white;

			padding: rem(30) rem(30);
			@include media-breakpoint-up(lg){
				padding: rem(35) rem(50);
			}
			position: relative;
			@include media-breakpoint-up(xl){
				width: var(--s-col-right-w) !important;
			}
		}
	}
	&__img{
		@extend .accept-ratio-frame;
		padding-top: 100%;
		min-height: 100%;
	}
	&__scheme{
		display: block;
		position: absolute;
		z-index: 2;
		right: 0;
		bottom: 0;
	}

	//-
	&__arrow-cont{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.swiper-button-prev,
	.swiper-button-next {
		@include media-breakpoint-up(sm){
			position: absolute;
			z-index: 10;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.swiper-button-prev{
		margin-right: rem(10);
		@include media-breakpoint-up(sm){
			margin-right: 0;
			right: calc(100% - #{rem(25)});
		}
		@include media-breakpoint-up(lg){
			display: none;
			right: calc(100% + #{rem(25)});
		}
	}
	.swiper-button-next{
		@include media-breakpoint-up(sm){
			left: calc(100% - #{rem(25)});
		}
		@include media-breakpoint-up(lg){
			left: calc(100% + #{rem(25)});
		}
	}


	&__chars{
		margin-bottom: rem(25);
	}
	&__char{
		&:first-child{
			padding-top: 0;
		}
		padding: rem(10) 0 rem(11);
		border-bottom: 1px solid $gray-550;
		&:last-child{
			padding-top: rem(20);
			border-bottom: none;
			padding-bottom: 0;
			--val-fw: 800;
		}
	}
	&__char-row{

	}
	&__c-col{
		&--key{
			font-weight: 500;
			font-size: rem(16);
			line-height: 1.5;
			color: $gray-670;
		}
		&--val{
			font-weight: var(--val-fw, 600);
		}
	}
	&__s-btn{
		//margin-top: auto;
		align-self: flex-start;
		@extend .btn;
		@extend .btn-primary;

		margin-bottom: 10px;
		padding: rem(17) rem(22);
		font-size: rem(12);
		@include media-breakpoint-up(sm){
			margin-bottom: 0;
			padding: rem(26) rem(62);
			font-size: rem(14);
		}
		text-transform: uppercase;
	}

	//-
	&__tags-main-row{
		--bs-gutter-x: var(--mr-bs-x);

		margin-bottom: rem(50);
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
	}
	&__t-col{
		@include media-breakpoint-up(lg){
			width: var(--mr-r-col-w) !important;
		}
	}

	&__t-title{
		padding: rem(4) 0;
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
	}
	&__tags-sub-row{
		--bs-gutter-x: #{rem(12)};
		--bs-gutter-y: #{rem(16)};
	}
	&__sub-row{
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(10)};
	}
	&__tag{
		display: inline-block;
		@include mt();

		padding: rem(3) rem(8.5) rem(6);
		line-height: 1.2;
		border: 1px solid $gray-670;
		color: $body-color;

		border-radius: rem(2);
		&:hover{
			background-color: $gray-670;
		}
	}
	//
	&__{}
	&__{}
} // end.sCatalog

.yellow-tag{
	position: absolute;
	max-width: 50%;
	top: rem(30);
	left: rem(-5);
	padding: rem(9) rem(12);
	background-color: $primary;

	&:before,
	&:after{
		content: '';
		position: absolute;
		width: rem(5);
		height: rem(5);
		left: 0;
		background-color: $yellow2;
	}
	&:before{
		bottom: 100%;
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	}
	&:after{
		top: 100%;
		clip-path: polygon(100% 0, 0 0, 100% 100%);
	}

	font-weight: 600;
	font-size: rem(11);
	line-height: 1.2;
}