// start .topLine
.topLine {
	color: $white;
	padding: rem(22) 0;
	position: absolute;
	z-index: 1100;
	top: var(--header-h);
	left: 0;
	width: 100%;

	&__container{
		@include media-breakpoint-down(sm){
			padding-right: 10px;
			padding-left: 10px;
		}
	}


	&__row{
		--bs-gutter-x: #{rem(20)};
		@include media-breakpoint-up(sm){
			--bs-gutter-x: #{rem(42)};
		}
	}
	&__logo{
		display: block;
		width: rem(237);
		max-width: 100%;

		margin-left: rem(16);
		@include media-breakpoint-up(sm){
			margin-left: 0;
		}

		img{
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}
	&__menu{
		ul{
			@include media-breakpoint-up(xl){
				padding-top: 4px;
			}
			padding: 0;
			margin: 0;
			list-style: none;

			display: flex;
			align-items: center;
			li{
				margin-right: rem(45);
				&:last-child{
					margin-right: 0;
				}
			}
			a{
				display: inline-block;
				font-weight: 600;
				line-height: 1;
				color: $white;
			}
		}
	}
	&__search{
		position: relative;
		z-index: 1;
		flex-grow: 1;
	}
	&__input-wrap{

	}
	&__input{
		background-color: transparent!important;
		font-weight: 500;
		font-size: rem(13);
		line-height: 1;

		color: $white!important;
		@include placeholder(){
			color: $white;
		}

		padding: rem(10) 0;
		@include media-breakpoint-up(lg){
			padding: rem(6) 0 rem(10) 0;
		}

		border: none;
		border-bottom: 1px solid $white;
	}
	&__btn{
		@extend .btn;
		border: none!important;
		box-shadow: none!important;
		outline: none!important;
		width: rem(20);
		height: 100%;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		.icon{
			font-size: rem(20);
			///color: $white;
			color: transparent;
			stroke: $white;
		}
	}
	//-
	&__s-col{
		@include media-breakpoint-down(sm){
			@include mt();
			transform-origin: top;

			transform: scaleY(0);
			pointer-events: none;
			&.active{
				transform: scaleY(1);
				pointer-events: auto;
			}

			border-top: 1px solid rgba($white, .15);
			display: flex;
			align-items: center;

			padding-left: 10px;
			padding-right: 10px;

			position: absolute;
			//position: fixed;
			z-index: 1300;
			top: 0;
			left: 0;
			width: 100%;
			height: var(--header-h);
			background-color: $body-color;
			//background-color: red;
		}
	}
	&__close-btn{
		width: rem(40);
		height: rem(40);
		margin-left: rem(20);
		//background-color: $blue;

		position: relative;
		&:before,
		&:after{
			content: '';
			width: rem(32);
			height: rem(2);
			background-color: $primary;
			border-radius: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%) rotate(var(--close-btn-r));
		}

		&:before{
			--close-btn-r: 45deg;
		}
		&:after{
			--close-btn-r: -45deg;
		}
	}
	&__zoom-btn{
		cursor: pointer;
		width: rem(20);
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		.icon{
			font-size: rem(20);
			///color: $white;
			color: transparent;
			stroke: $white;
		}
	}

	&__{}
	&__{}
} // end.topLine