mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		+e.container.container-lg
			+e.row.row.align-items-center
				.col-auto.d-lg-none
					+menu-toggle()
				.col
					+e.logo(href="#")
						img(loading="lazy" src="img/@2x/logo.png" alt="")
				.col-auto.d-none.d-lg-block
					+e.menu
						ul
							li: a(href='#') Каркасные дома
							li: a(href='#') Дома из бруса
							li: a(href='#') Бани из бруса
							li: a(href='#') Дачные дома
				+e.s-col.col-auto.align-self-xl-start.s-col-js
					+e.search
						+input('Найти', 'text')
						+e.btn(type="button")
							+icon('zoom')
					+e.close-btn.d-sm-none.toggle-search-js
						+icon('cross')
				.col-auto.d-sm-none
					+e.zoom-btn.toggle-search-js
						+icon('zoom')
	// end topLine