mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span

mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto.d-lg-none
					+menu-toggle()
				.col
					.menu-mobile.menu-mobile--js
						+menu-toggle()
						+mnu()
					
	// end top-nav