mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus adipisci sunt rerum nulla quos repellat fuga quaerat dignissimos modi est nam, accusantium et recusandae maxime illo dolore, commodi officia maiores voluptatibus neque illum expedita labore molestias placeat. Excepturi tenetur eaque consequuntur eligendi aliquid voluptas reprehenderit quidem, iste culpa dicta id hic ducimus debitis magni beatae, quas accusamus iure labore expedita! Laboriosam facilis reprehenderit ad earum voluptates iste inventore quos dolor cumque velit! Rerum officia quaerat quis dolor odit, iure animi excepturi odio deserunt sit? Similique repellendus, enim, non, neque aspernatur error dolor totam velit quo eveniet laboriosam facere? Odit laborum sapiente deserunt exercitationem numquam voluptatibus cum quisquam eaque doloremque aliquam animi consectetur culpa, nemo debitis quia unde sint iusto sit error non ex recusandae officiis. Eaque quis quasi dolorum iste illo similique sapiente. Delectus facilis aliquam molestias autem aut facere sapiente. Veniam at iste illum pariatur nostrum cupiditate excepturi quo temporibus earum repellat deserunt ut, blanditiis qui? Commodi ex sunt necessitatibus pariatur ad ipsum, consequatur blanditiis, suscipit perspiciatis rem in! Alias vitae, tenetur adipisci iure delectus ab officiis cum deserunt incidunt dolor iste quasi veniam ullam libero voluptatem eveniet odio? Nobis, corporis corrupti. Nulla, nihil voluptas laboriosam quidem sapiente recusandae!
			.row
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
				.col.d-none.d-lg-block
					+mnu()
					
	// end top-nav