.top-nav {
	background: $gray-900;
	//-
	&__container{
		@include media-breakpoint-down(sm){
			padding-right: 0;
			padding-left: 10px;
		}
	}
	&__row{
		--bs-gutter-x: #{rem(22)};
		@include media-breakpoint-up(lg){
			--bs-gutter-x: #{rem(18)};
		}
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(20)};
		}
	}
	.menu{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;

		& > .menu-item{
			--menu-item-me: #{rem(40)};
			--arrow-w: #{rem(14)};
			--arrow-ms: #{rem(3)};

			margin-right: var(--menu-item-me);

			//all links
			a{
				font-weight: 500;
				font-size: rem(14);
				line-height: 1;
				color: $white;
			}

			& > a{
				font-weight: 500;
				font-size: rem(14);
				line-height: 1;
				color: $white;
			}

			&.menu-item-has-children{
				&:hover{
					--sub-mnu-scale: 1;
				}


				position: relative;
				z-index: 10;
				margin-right: calc(var(--menu-item-me) - var(--arrow-ms, 0px) - var(--arrow-w, 0px));

				display: flex;
				align-items: center;
				&:after{
					content: '';
					display: inline-block;
					width: var(--arrow-w);
					height: var(--arrow-w);

					margin-left: var(--arrow-ms);

					background-image: url(../img/svg/chevron-down.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
			}
		}

		.sub-menu{
			@include mt();
			transform-origin: top;
			transform: scaleY(var(--sub-mnu-scale, 0));

			padding: rem(12) rem(10);
			background-color: $gray-900;
			list-style: none;
			position: absolute;
			top: 100%;
			left: rem(-10);
			width: auto;
			height: auto;

			.menu-item{
				margin-bottom: rem(3);
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				white-space: nowrap;
			}
		}
	}
	//-
	&__item{
		@include media-breakpoint-up(xl){
			padding-right: rem(10);
		}
	}
	&__title{
		font-weight: 500;
		font-size: rem(12);
		line-height: 1;
		color: $gray-650;

		margin-bottom: rem(-1);
	}
	&__link{
		display: inline-block;
		font-weight: 500;
		font-size: rem(14);
		line-height: 1;
		color: $white;
		&:hover{
			color: rgba($white, .8);
		}
	}

	//-
	&__wa{
		width: rem(20);
		height: rem(20);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		font-weight: 600;

		@include media-breakpoint-between(lg, xl){
			padding-left: rem(15);
			padding-right: rem(15);
		}
	}
	&__{}
	&__{}
}


