 
	  
.soc{
	display: flex;
	align-items: center;

	&__item{
		width: rem(50);
		height: rem(50);
		margin-right: rem(10);
		&:last-child{
			margin-right: 0;
		}
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			color: $gray-680;
			font-size: rem(20);
		}

		color: $gray-680;
		border: 1px solid $gray-680;
		&:hover{
			background-color: $gray-680;
			.icon{
				color: $white;
			}
		}
	}
}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}