// start .sCards
.sCards {
	--sPT: #{rem(40)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(35)};
		--sPB: #{rem(55)};
		--sTPB: #{rem(40)};
	}

	//-
	&__btns-row{
		--bs-gutter-x: #{rem(24)};
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg){
			--bs-gutter-x: #{rem(40)};
			margin-bottom: rem(30);
		}
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(75)};
			margin-bottom: rem(50);
		}
	}
	&__tabs-btn{
		padding: rem(10) 0;
		font-size: rem(11);
		@include media-breakpoint-up(sm){
			padding: rem(12) 0;
			font-size: rem(14);
		}
		@include media-breakpoint-up(lg){
			padding: rem(18) 0;
			font-size: rem(16);
		}
		font-weight: 600;
		line-height: 1.2;
		text-transform: uppercase;

		border-bottom: 3px solid transparent;
		color: $gray-670;
		&.active{
			border-bottom: 3px solid $primary;
			color: $body-color;
		}
	}
	&__tabs-wrap{
		margin-bottom: rem(32);
		@include media-breakpoint-up(sm){
			margin-bottom: rem(40);
		}
	}

	&__main-row{
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(30)};
		@include media-breakpoint-up(sm){
			--bs-gutter-x: #{rem(20)};
			--bs-gutter-y: #{rem(20)};
		}
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(30)};
			--bs-gutter-y: #{rem(30)};
		}
	}
	&__item{
		position: relative;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__img{
		@extend .accept-ratio-frame;

		padding-top: 86.578947%;
		@include media-breakpoint-up(sm){
			padding-top: calc(310/380 * 100%);
		}
	}
	.yellow-tag{

	}
	&__content{
		position: relative;
		flex-grow: 1;

		border-left: 1px solid $gray-550;
		border-right: 1px solid $gray-550;
		border-bottom: 1px solid $gray-550;

		padding: rem(24) rem(14) rem(28.5) rem(10);
		@include media-breakpoint-up(sm){
			padding: rem(20) rem(20) rem(24);
		}
		@include media-breakpoint-up(xl){
			padding: rem(24) rem(23) rem(30) rem(20);
		}
	}
	.sm-yellow{

		&--title{
			text-transform: none;

			max-width: calc(100% - #{rem(85)});
			font-weight: 800;
			font-size: rem(18);
			@include media-breakpoint-between(sm, lg){
				font-size: rem(16);
			}

			&:after{
				margin: rem(17) 0 rem(26);
				@include media-breakpoint-up(sm){
					margin: rem(17) 0 rem(26);
				}
			}
		}
	}
	&__scheme{
		position: absolute;
		right: rem(10);
		top: rem(10);
	}
	&__chars-row{
		--bs-gutter-x: #{rem(15)};
		--bs-gutter-y: #{rem(10)};

		margin-bottom: rem(20);

		@include media-breakpoint-down(sm){
			max-width: 99%;
		}
		@include media-breakpoint-up(xxl){
			max-width: 99%;
		}
	}

	//
	&__foot-row{
		--bs-gutter-x: #{rem(8)};
	}
	&__price{
		@include media-breakpoint-between(sm, lg){
			font-size: rem(14);
		}
		font-weight: 600;
		color: $black;
	}
	&__f-btn{
		@extend .btn;
		@extend .btn-primary;

		padding: rem(16) rem(21);
		@include media-breakpoint-up(sm){
			padding: rem(12);
		}
		@include media-breakpoint-up(xl){
			padding: rem(16) rem(21);
		}


		font-weight: bold;
		font-size: rem(12);
		line-height: 120%;
		text-transform: uppercase;
	}
	//
	&__look-all{
		@include mt();
		font-weight: 600;
		color: $body-color;
		padding-bottom: rem(10);

		border-bottom: 2px solid $primary;
		&:hover{
			border-bottom: 2px solid transparent;
		}
	}

	//-
	&__{}
	&__{}
} // end.sCards

//
.char-row{
	--bs-gutter-x: #{rem(5)};

	//
	font-weight: 500;

	@include media-breakpoint-up(sm){
		font-size: rem(14);
	}
	@include media-breakpoint-up(xl){
		font-size: rem(16);
	}

	&__icon{
		max-width: rem(20);
		max-height: rem(20);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__key{
		color: $gray-670;
	}
	&__val{
		margin-left: rem(2);
	}
}
