mixin sWork(data)
	// start sWork
	+b.SECTION.sWork.section#sWork&attributes(attributes)
		.container
			+b.sm-yellow--title Схема сотрудничества
			+b.section-title
				+e.row.row
					.col-lg
						h2 Как мы работаем
					.col-lg-auto
						p Оптимальная схема сотрудничества, придерживаясь которой выигрывают все.
			+e.items-wrap
				+e.items-row.row
					+sWorkItem(1, 'Согласование')
						| Согласовываем с клиентом проект и&#160;договор, где будут прописаны все условия, гарантии и обязательства.
					+sWorkItem(2, 'Доставка')
						| Доставляем материал и&#160;рабочую бригаду на&#160;место проведения строительных работ.
					+sWorkItem(3, 'Выгрузка')
						| Выгрузка материала производится бесплатно в рамках 50 м от возможного места стоянки автотранспорта.
					+sWorkItem(4, 'Приемка материала')
						| Клиент принимает материал и вносит оплату в соответствии с договором.
					+sWorkItem(5, 'Строительство')
						| Производим все основные строительные работы от возведения фундамента, до прокладки инженерных сетей.
					+sWorkItem(6, 'Отделка')
						| Выполняем внешнюю и внутреннюю финишную отделку в соответствии с проектом.
					+sWorkItem(7, 'Приемка объекта')
						| Клиент осматривает объект строительства, подписываем акт приемки-сдачи.
					+sWorkItem(8, 'Окончательный расчет')
						| Клиент выплачивает оставшуюся сумму по&#160;договору.
	// end sWork

mixin sWorkItem(imgNum, title)
	.col-md-6
		+e.item
			+e.sub-row.row
				.col-auto
					+e.ball
						img(loading="lazy" src=`img/svg/sWorkItem-${imgNum}.svg` alt="")
				.col
					+b.sm-yellow--item=title
					+e.descr
						block
