// start .sWork
.sWork {
	--sPT: #{rem(47)};
	--sPB: #{rem(80)};
	--sTPB: #{rem(52)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(57)};
		--sPB: #{rem(78)};
		--sTPB: #{rem(67)};
	}

	.sm-yellow{
		&--title{
			&:after{
				margin: rem(18) 0 rem(20);
				@include media-breakpoint-up(sm){
					margin: rem(22) 0 rem(18);
				}
			}
		}
		&--item{
			@include media-breakpoint-down(md){
				font-weight: 800;
			}
			font-size: rem(18);
			text-transform: none;
			&:after{
				width: rem(30);
				margin: rem(10) 0 rem(12);
			}
		}
	}

	//
	.section-title{
		&__row{
			--bs-gutter-y: #{rem(20)};
			h2{

				&:last-child{
					margin-bottom: 0;
				}
			}
			p{
				@include media-breakpoint-up(lg){
					width: 400px;
					padding-top: 16px;
				}
				@include media-breakpoint-up(xl){
					font-size: rem(15.8);
					line-height: rem(24);
				}


				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	//-
	&__items-wrap{
		@include media-breakpoint-up(xxl){
			max-width: calc(100% - 110px);
			margin: 0 auto;
		}
	}
	&__items-row{


		--col-padd: #{rem(34)};
		@include media-breakpoint-up(lg){
			--col-padd: #{rem(40)};
		}
		counter-reset: list 0;

		@include media-breakpoint-down(md){
			--bs-gutter-y: #{rem(40)};
		}
		@include media-breakpoint-up(md){
			//col
			& > *{
				min-height: 100%;
				list-style-type: none;
				position: relative;
				padding: var(--col-padd);

				//&:nth-child()
				&:nth-child(even){

				}

				&:nth-child(1),
				&:nth-child(8){
					&:after{
						content: '';
						position: absolute;
						top: 0;
						left: calc(var(--col-padd) * 2);
						width: calc(200% - var(--col-padd) * 2);
						height: 1px;
						border-top: 1px dashed $gray-530;
					}
				}
				&:nth-child(3),
				&:nth-child(6){
					&:after{
						content: '';
						position: absolute;
						top: 0;
						//right: calc(var(--col-padd) * 2);
						//width: calc(200% - var(--col-padd) * 2);
						width: 200%;
						right: 0;
						height: 1px;
						border-top: 1px dashed $gray-530;
					}
				}

				&:nth-child(4){
					border-left: 1px dashed $gray-530;
				}


				&:nth-child(6),
				&:nth-child(2){
					border-right: 1px dashed $gray-530;
				}

				&:nth-child(1){
					order: 1;
				}
				&:nth-child(2){
					order: 2;
				}
				&:nth-child(3){
					order: 4;
				}
				&:nth-child(4){
					order: 3;
				}
				&:nth-child(5){
					order: 5;
				}
				&:nth-child(6){
					order: 6;
				}
				&:nth-child(7){
					order: 8;
				}
				&:nth-child(8){
					order: 7;
				}
			}
		}
	}
	&__item{

	}
	&__sub-row{
		--bs-gutter-x: #{rem(20)};
	}
	&__ball{
		&:before{
			position: absolute;
			z-index: -1;

			@include media-breakpoint-up(md){
				content: '';
			}
			width: 1px;
			height: var(--col-padd);
			border-left: 1.5px dashed $gray-530;
			left: 50%;
			bottom: 100%;
		}

		width: rem(80);
		height: rem(80);
		@include media-breakpoint-up(md){
			width: calc(var(--col-padd) * 2);
			height: calc(var(--col-padd) * 2);
		}
		padding: rem(12);
		background: $gray-100;
		border-radius: 50%;

		position: relative;
		z-index: 1;
		&:after{
			content: counter(list);
			counter-increment: list;
			display: flex;
			align-items: center;
			justify-content: center;

			position: absolute;
			top: 0;
			left: 0;
			width: rem(24);
			height: rem(24);
			border-radius: 50%;
			border: 1px solid $primary;
			background-color: $white;
			box-shadow: 0 0 0 3px $white;

			font-weight: bold;
			font-size: rem(13);
			line-height: 1.2;
		}


		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__descr{
		@include media-breakpoint-down(sm){
			margin-right: -1px;
		}

		font-size: rem(15.8);
		line-height: rem(24);
		@include media-breakpoint-up(md){
			font-size: rem(13);
			line-height: 1.5;
		}
		@include media-breakpoint-up(xl){
			font-size: rem(15.8);
			line-height: rem(24);
		}
	}
	&__{}
	&__{}
} // end.sWork