-
	var nav= { 
		"Наши работы":"#",
		}
-
	var subnav= {
		"Услуги":"#",
		"Вакансии":"#",
		"Проекты домов":"#",
		"Отзывы":"#",
		"Вопросы":"#",
		"Акции":"#",
		"Наше производство":"#",
	}
//- WP menu
mixin mnuDef()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName
		if subnav
			li.menu-item.menu-item-has-children
				a(href="#" itemprop="url") О нас
				ul.sub-menu
					each sublinkPatch, sublinkName in subnav
						li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName

//- menu
mixin mnu()
	ul.menu
		li.menu-item.menu-item-has-children
			a(href="#") О компании
			ul.sub-menu
				each sublinkPatch, sublinkName in subnav
					li.menu-item: a(href=sublinkPatch)= sublinkName
		li.menu-item: a(href='#') Портфолио
		li.menu-item.menu-item-has-children
			a(href="#") Клиентам
			ul.sub-menu
				each sublinkPatch, sublinkName in subnav
					li.menu-item: a(href=sublinkPatch)= sublinkName
		li.menu-item: a(href='#') Контакты